@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,100&display=swap');


/*Clear layout*/

body{
    margin: 0;
    padding: 0;
    background-image: url(image/fundo-body.jpg);
    
}


/*Formatações gerais*/
p{
    font-family: 'Monteserrat';
}

/*Formatação Menu Principal*/
#menu-principal {
    margin-left: 480px;
    margin-top: 50px;
    height: 50px;
}

#menu-principal ul {
    list-style: none;
    background: #CC95C0;
    background: -webkit-linear-gradient(to right, #c093b9, #e9e7df, #CC95C0);
    background: linear-gradient(to right, #bcc2c9, #DBD4B4, #ccb0b5);
    border-radius: 70px;
    float: left;
    
}

 ul li{
    float: left;
}

/*Formatação dos links do menu*/
ul a{
    color: #fff;
    text-decoration: none; 
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 5px 10px;
    
}

a:hover{
    color: #e76f51; 
}

/*Formatação logo*/

#area-logo{
    background: #edddd4;
    height: 300px;
    margin: 50px 100px;
    padding: 5px;
    border-radius: 200px;
    border: 2px dotted #eaac8b;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0.9;
}

#area-logo h1{
    color: #6d6875;
    text-justify: auto;
    font-style: italic;
    font-family: 'Dancing Script', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5em;
    text-align: center;
}

#details{
    color: #e5989b;
}

.img-logo{
    margin-left: 500px;
    margin-bottom: 150px;
}

/*Formatação area principal*/

#area-principal{
    margin: 0;
    padding: 0;
}

/*Conteudo sobre*/
.conteudo-sobre{
    width: 600px;
    padding: 0 25px;
    border-radius: 200px;
    border: 2px dotted #eaac8b;
    opacity: 0.9;
    background: #edddd4;
    margin: 100px;
    float: left;
}

h2{
    text-align: center;
    font-size: 2em;
    color: #6d6875;
    font-style: italic;
    font-family: 'Dancing Script', Tahoma, Geneva, Verdana, sans-serif;

}

.conteudo-sobre p{
    text-align: center;
    padding: 10px;
    color: #2b2d42;
    font-size: 1.4em;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.autora-blog img{
    border-radius: 50%;
    float: right;
    width: 300px;
    height: 400px;
    margin-right: 180px;
    margin-top: 40px;
    border: 2px dotted #eaac8b;

}

#area-receitas{
    width: 800px;
    height: 1700px;
    margin: 200px auto;
    margin-top: 50px;
    background: #edddd4;
    border-radius: 90px;
    border: 2px dotted #eaac8b;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0.9;

}

.galeria-receitas{
    margin-left: 350px auto;
}

.galeria-receitas img{
    width: 400px;
    height: 300px;
    border-radius: 50px;
    border: 2px double #eaac8b;
   
}

.conteudo-receita{
    margin-top: 0;
}

.conteudo-receita{
    padding: 10px;
}

.galeria-receitas h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    color: #c53d81;
    margin-left: 10px auto;

}

.galeria-receitas p{
    font-family: 'Montserrat';
    text-align: justify;
}

.galeria-receitas button{
    background: #eaac8b;
    border: 2px solid #eaac8b;
    padding: 10px;
    border-radius: 50px;
    

}





.area-perguntas{
    background: #edddd4;
    height: 300px;
    margin: 50px 100px;
    padding: 5px;
    border-radius: 200px;
    border: 2px dotted #eaac8b;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
    opacity: 0.9;
}

.perguntas{
    padding: 10px 20px;
    margin-left: 40px;
}

.perguntas p{
    font-family: 'Montserrat';
    font-size: 1em;
}
    
